<ul style="text-align:right;">
    <li><a routerLink="">Logout</a></li>
</ul>
<h1>{{ vehicle.name }}</h1>

<ul>
  <li><strong>id:</strong> {{ vehicle.id }}</li>
  <li><strong>Type:</strong> {{ vehicle.type }}</li>
</ul>