<nav>
    <ul>
      <li>
        <a routerLink="vehicle-list">
          <i class="material-icons">time_to_leave</i>
          <span class="vehicleList">Vehicles</span>
        </a>
      </li>
    </ul>
</nav>