<ul style="text-align:right;">
    <li><a routerLink="">Logout</a></li>
</ul>
<h1>Vehicles</h1>
<ul>
  <li *ngFor="let vehicle of listVehicles">
    <a routerLink="/vehicle-tracking/{{vehicle.id}}">{{ vehicle.name }}</a>

    <ul>
      <li>Type : {{ vehicle.type }}</li>
      <li><a routerLink="/vehicle-tracking/{{vehicle.id}}">Track vehicle</a></li>
    </ul>
  </li>
</ul>

